*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.base{
    top:0;
    height: 100vh;
}
.intro{
    position: absolute;
    z-index: -1;
    background-size: cover;
    background-position: center 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    top:0;
}
.introImage{
    position: absolute;
    width:100%;
    top:10%;
    opacity: 1;
    transition: all 1.2s ease-in;
}
.introtext1{
    position: absolute;
    top: 30%;
    left: 15%;
    font-family: 'Playfair Display';
    font-size: 45px;
    color: white;
    opacity: 0;
    width: 1200px;
    transition: all 1.2s ease-in;
}
.introtext2{
    position: absolute;
    top: 55%;
    left: 15%;
    font-family: 'Playfair Display';
    font-size: 43px;
    color: white;
    opacity: 0;
    width: 1200px;
    transition: all 1.2s ease-in;
}

body{
    background-color:black;
    margin: 0 auto;
}
